.cards {
    width: 25%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(17, 184, 0, 1);
    border-radius: 10px;
    font-family: DM Sans;
    font-size: 1.3rem;
    font-weight: 550;
    line-height: 2.7rem;
    text-align: left;
    padding: 0 1% 2% 1.5%;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.cards>img {
    width: 97.5%;
    transition: 0.5s;
}

.cards>img:hover {
    scale: 1.1
}

.selected {
    border: 6px solid rgba(17, 184, 0, 1)
}