.noteBox {
    width: 42%;
    border-radius: 6px;
    padding: 2% 3% 2% 3%;
    background-color: rgba(241, 199, 91, 1);
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
}

.noteBox>textarea {
    margin-top: 4%;
    outline: none;
    border: none;
    resize: none;
    height: 80%;
    background-color: inherit;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: left;
    overflow-y: scroll;
}