.movie-container {
    width: 100vw;
    height: 100vh;
    padding: 4vh 7vw 4vh 1.5vw;
    color: white;
}

.title-box {
    height: 15vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
}

.title-box>div {
    display: flex;
    justify-content: space-between;
}

.title-box>div>img {
    height: 10vh;
    cursor: pointer;
}

.title-box>div>h1 {
    margin: 0;
    font-family: Single Day;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(114, 219, 115, 1);
}

.entertainment {
    margin: 0;
    margin-top: 2vh;
    margin-left: 3.6vw;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 0rem;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1)
}

.movie-box {
    margin-top: 17vh;
    width: 90vw;
    height: 72vh;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.category-name {
    margin-left: 0.6vw;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 0.1rem;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(135, 135, 135, 1)
}

.movies-card {
    display: flex;
    justify-content: space-between;
}

.movies-card>img {
    width: 18vw;
    height: 18vh;
    border-radius: 6px;
    cursor: pointer;
}

.movie-container>button {
    position: absolute;
    bottom: 2vh;
    right: 5.5vw;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 106, 106, 1);
    border-radius: 20px;
    padding: 0 1vw 0 1vw;
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.5s
}

.movie-container>button:hover {
    scale: 0.9
}